<div style="width:90%; margin:0 auto;">
    <table id="companytable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Navn</th>
                <th>Privat</th>
                <th>Email</th>
                <th>CVR</th>
                <th>Adresse</th>
                <th>Postnr.</th>
                <th>By</th>
                <th>Land</th>
                <th>Tlf.</th>
                <th>Hjemmeside</th>
                <th>Ændret</th>
                <th>Oprettet</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Id</th>
                <th>Navn</th>
                <th>Privat</th>
                <th>Email</th>
                <th>CVR</th>
                <th>Adresse</th>
                <th>Postnr.</th>
                <th>By</th>
                <th>Land</th>
                <th>Tlf.</th>
                <th>Hjemmeside</th>
                <th>Ændret</th>
                <th>Oprettet</th>
            </tr>
        </tfoot>
    </table>
</div>

<br />
<br />
<div style="width:90%; margin:0 auto;">
    <table id="notetable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Dato</th>
                <th>Emne</th>
                <th>Kommentarer</th>
                <th>Dokumenter</th>
                <th>companyId</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
            <tr>
                <th>Id</th>
                <th>Dato</th>
                <th>Emne</th>
                <th>Kommentarer</th>
                <th>Dokumenter</th>
                <th>companyId</th>
            </tr>
        </tfoot>
    </table>
</div>

<script>

    var notetable;
    var noteEditor; // use a global for the submit and return data rendering in the examples
    var companyEditor; // use a global for the submit and return data rendering in the examples
    var companytable;

    var noteParentTableName = "companytable";
     var optionsCountries = [];
    var myAjax;
    var optionsA = [];
    var getNotesUrl = "/Note/GetNotes?searchAll=0";
    var selectedCustomerCategory;

    window.moment = moment;

    $(document).ready(function () {

        initializeCompanyEditor();
        companytable = initializeCompanyTable();

        initializeCompanyTableFooter();
        initializeSearchCompanyTableFooter();
        initializeTypeAheadInputCompanyName();
        initializeTypeAheadInputCompanyCVR();

        initializenoteEditor();
        initializenotetable();
        initializenotetableFooter();
        initializeSearchnotetableFooter();
        setPresubmitEventHandlerOnnoteEditor();



        setRelationNoteAndCompany();


        SetStatusCreateButtonOnNoteTable(companytable);
        setListenOnSelectCompany();
        setListenOnDeSelectCompany();
        setPresubmitEventHandlerOnnoteEditor();

        var getThediv = $('#companytable_length').parent();
        var htmlStr = '<div class="col-sm-1"><select class="custom-select custom-select-sm form-control form-control-sm" id="customershowselection"><option value="1">Alle</option><option value="2">Private</option><option value="3">CVR-registrerede</option> </select></div>';
        $(htmlStr).insertBefore(getThediv);

        $('#customershowselection').bind('change', function () {
            selectedCustomerCategory = $(this).val();
            var customerCategory = $(this).val();
            companytable.ajax.reload();
        });

        var newItem = document.createElement("div");       // Create a <div> node
        var textnode = document.createTextNode("Notater");  // Create a text node
        newItem.appendChild(textnode);
        newItem.classList.add("tableheadline");
        newItem.classList.add("col-sm-2");


        var Mydiv = document.getElementById('notetable_wrapper');
        var mychildren = Mydiv.getElementsByTagName('div');
        for (var i = 0; i < mychildren.length; ++i) {
            e = mychildren[i];
            var myclass = e.getAttribute("class");
            if (myclass == "row") {
                var mychildren1 = e.getElementsByTagName('div');
                e1 = mychildren1[0];
                e.insertBefore(newItem, e1);
                break;
            }
        }


        var newItem = document.createElement("div");       // Create a <div> node
        var textnode = document.createTextNode("Kunder");  // Create a text node
        newItem.appendChild(textnode);
        newItem.classList.add("tableheadline");
        newItem.classList.add("col-sm-2");


        var Mydiv = document.getElementById('companytable_wrapper');
        var mychildren = Mydiv.getElementsByTagName('div');
        for (var i = 0; i < mychildren.length; ++i) {
            e = mychildren[i];
            var myclass = e.getAttribute("class");
            if (myclass == "row") {
                var mychildren1 = e.getElementsByTagName('div');
                e1 = mychildren1[0];
                e.insertBefore(newItem, e1);
                break;
            }
        }

        noteEditor.on('opened', function (e, json, data) {
            $("#DTE_Field_date").datetimepicker({
                timepicker: false,
                datepicker: true,
                hours12: false,
                format: 'd-m-yy'
            });

            $.datetimepicker.setLocale('da');
        });

    });

</script> 