
WedigITCRM/bin/Debug/netcoreapp2.1/appsettings.json
WedigITCRM/bin/Debug/netcoreapp2.1/appsettings.json
WedigITCRM/appsettings.json
WedigITCRM/appsettings.json
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Account/activateCompanyAccount.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Account/CompanyAccountSettings.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Account/Login.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Account/Register.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Account/registerCompanyAccount.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Activity/Details.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Activity/EditActivity.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Activity/Index.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Administration/ChangePassword.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Administration/CreateRole.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Administration/DetailsUser.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Administration/EditRole.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Administration/EditUser.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Administration/EditUsersInRole.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Administration/EnterNewPassword.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Administration/ListRoles.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Administration/ListUsers.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Administration/ManageUserRoles.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Administration/RoleDetails.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Booking/AdminAnnualCycle.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Booking/CreateBookingResource.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Booking/CreateBookingService.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Booking/CreateBookingSetup.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Booking/CreateJobServiceType.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Booking/EditBookingResource.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Booking/EditBookingService.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Booking/EditBookingSetup.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Booking/EditJobServiceType.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Booking/Index.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Booking/ShowBookingResources.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Booking/ShowBookingServices.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Booking/ShowBookingSetup.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Booking/ShowJobServiceTypes.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/ContactPerson/Details.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/ContactPerson/EditContactPerson.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/ContactPerson/Index.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Customer/AllCustomers.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/FrontPage/About.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/FrontPage/BuyLicense.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/FrontPage/Index.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/FrontPage/IntegrationDinero.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/FrontPage/Integrations.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/FrontPage/Prices.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/FrontPage/Support.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Home/CompanyEditView.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Home/Details.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Home/Error.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Home/Index.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Home/ShowErrorForJSON.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Note/Index.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Note/NoteCreate.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Note/NoteEdit.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Note/NoteShow.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Note/searchInAttachment.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Sales/BACKUPStatisticsTurnOver.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Sales/StatisticsTurnOver.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_Layout.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Shared/Backup_Layout.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Shared/NotFound.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/StockItemCategories/Index.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Support/SendSupportTicket.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Vendor/AllVendors.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/WedigITCRM.csproj.FileListAbsolute.txt
WedigITCRM/obj/Debug/netcoreapp2.1/WedigITCRM.csproj.GenerateResource.cache
WedigITCRM/obj/Debug/netcoreapp2.1/WedigITCRM.csprojAssemblyReference.cache
WedigITCRM/obj/Debug/netcoreapp2.1/WedigITCRM.dll
WedigITCRM/obj/Debug/netcoreapp2.1/WedigITCRM.pdb
WedigITCRM/obj/Debug/netcoreapp2.1/WedigITCRM.RazorCoreGenerate.cache
WedigITCRM/obj/Debug/netcoreapp2.1/WedigITCRM.Views.dll
WedigITCRM/obj/Debug/netcoreapp2.1/WedigITCRM.Views.pdb
WedigITCRM/Properties/launchSettings.json
.vs/WedigITCRM/v16/.suo
.vs/WedigITCRM/v16/.suo
.vs/WedigITCRM/v16/Server/sqlite3/storage.ide
.vs/WedigITCRM/config/applicationhost.config
.vs/WedigITCRM/DesignTimeBuild/.dtbcache
.vs/WedigITCRM/v16/.suo
WedigITCRM/bin/Debug/netcoreapp2.1/DocumentFormat.OpenXml.dll
WedigITCRM/bin/Debug/netcoreapp2.1/nlog-Errorlog-2020-05-01.log
WedigITCRM/bin/Debug/netcoreapp2.1/nlog-Tracelog-2020-05-01.log
WedigITCRM/bin/Debug/netcoreapp2.1/nlog-Warninglog-2020-05-01.log
WedigITCRM/bin/Debug/netcoreapp2.1/nlog-Tracelog-2020-05-01.log
*.json
WedigITCRM/bin/Debug/netcoreapp2.1/nlog-Errorlog-2020-05-01.log
WedigITCRM/obj/WedigITCRM.csproj.nuget.cache
WedigITCRM/bin/Debug/netcoreapp2.1/WedigITCRM.Views.dll
WedigITCRM/bin/Debug/netcoreapp2.1/WedigITCRM.Views.dll
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Account/activateCompanyAccount.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Account/CompanyAccountSettings.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Account/Login.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Account/Register.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Account/registerCompanyAccount.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Activity/Details.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Activity/EditActivity.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Activity/Index.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Administration/ChangePassword.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Administration/CreateRole.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Administration/DetailsUser.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Administration/EditRole.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Administration/EditUser.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Administration/EditUsersInRole.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Administration/EnterNewPassword.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Administration/ListRoles.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Administration/ListUsers.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Administration/ManageUserRoles.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Administration/RoleDetails.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Booking/AdminAnnualCycle.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Booking/CreateBookingResource.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Booking/CreateBookingService.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Booking/CreateBookingSetup.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Booking/CreateJobServiceType.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Booking/EditBookingResource.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Booking/EditBookingService.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Booking/EditBookingSetup.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Booking/EditJobServiceType.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Booking/Index.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Booking/ShowBookingResources.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Booking/ShowBookingServices.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Booking/ShowBookingSetup.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Booking/ShowJobServiceTypes.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/ContactPerson/Details.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/ContactPerson/EditContactPerson.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/ContactPerson/Index.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Customer/AllCustomers.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/FrontPage/About.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/FrontPage/BuyLicense.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/FrontPage/Index.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/FrontPage/IntegrationDinero.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/FrontPage/Integrations.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/FrontPage/Prices.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/FrontPage/Support.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Home/CompanyEditView.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Home/Details.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Home/Index.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Note/Index.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Note/NoteCreate.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Note/NoteEdit.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Note/NoteShow.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Note/searchInAttachment.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Sales/BACKUPStatisticsTurnOver.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Sales/StatisticsTurnOver.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_Layout.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Shared/Backup_Layout.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Shared/NotFound.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/StockItemCategories/Index.cshtml.g.cs
WedigITCRM/obj/Debug/netcoreapp2.1/Razor/Views/Support/SendSupportTicket.cshtml.g.cs
