
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

@using Microsoft.AspNetCore.Http.Features




@{

    bool HasUserConsented = false;

    foreach (var cookie in HttpContextAccessor.HttpContext.Request.Cookies.Keys)
    {
        string cookieName = cookie;
        if (cookieName.Equals("nyxium_consent"))
        {
            HasUserConsented = true;
        }
        string cookieValue = HttpContextAccessor.HttpContext.Request.Cookies[cookieName];

    }

    var x = HttpContextAccessor.HttpContext.Features.Get<Microsoft.AspNetCore.Http.Features.IHttpRequestFeature>();
    string returnUrl = x.Path;

   
}



@if (!HasUserConsented)
{

    <section id="a5" class="consent-chapter">
        <div class="consent-headline">
            <p class="consent-body-text consent-text-bold">
                Vi bruger cookies til at markedsføre nyxium.
            </p>
        </div>
        <p class="consent-body-text">
            Hvis du klikker på knappen ’Accepter’, godkender du, at nyxium sætter
            cookies til brug for markedsføring.
        </p>
        <p class="consent-body-text">
            Hvis du klikker på knappen ’Afslå,’ sætter vi ikke cookies til brug for
            markedsføring
        </p>
        <p class="consent-body-text">
            Dit valg bliver gemt i en cookie.
        </p>
        <p class="consent-body-text consent-generel-link">
            <a href="#marketingcookies">Klik her</a> for at se hvilke cookier som nyxium anvender til markedsføring
        </p>
    </section>


    <div class="card">
        <div class="card-header">
            <div class="card-body">
                <a href="#" id="consent" class="btn btn-primary consent-btn">Accepter</a>
                <a href="#" id="noconsent" class="btn btn-primary no-consent-btn">Afslå</a>
            </div>
        </div>
    </div>


    <br />
    <br />

    <partial name="CookiePolicy" />
   

    <form method="post" action="/account/CookieSettings" id="cookiesettings">
        <input type="text" name="cookieValue" id="cookieValue" hidden />
        <input type="text" name="returnurl" id="returnurl" value="@returnUrl" />
    </form>

}


<script>
    $(document).ready(function () {

        var Oldhref = window.location.href;

        var pos = Oldhref.indexOf('#');
        if (pos > -1) {
            Oldhref = Oldhref.substring(0, pos);
        }



        $('#consent').bind('click', function (event) {
            event.preventDefault();
            event.stopPropagation();

            var cookieText = {
                marketing: "Accepted",
                statistic: "NotAccepted"
            };


            cvalue = "statistic:" + cookieText.statistic + "marketing:" + cookieText.marketing;
            exdays = 90;
            setCookie("nyxium_consent", cvalue, exdays);

            $('#cookieValue').val(cvalue);

            $("#cookiesettings").submit();

            //window.location.href = Oldhref;
        });

        $('#noconsent').bind('click', function (event) {
            event.preventDefault();
            event.stopPropagation();

            var cookieText = {
                marketing: "NotAccepted",
                statistic: "NotAccepted"
            };

            cvalue = "statistic:" + cookieText.statistic + "marketing:" + cookieText.marketing;
            exdays = 90;
            setCookie("nyxium_consent", cvalue, exdays);

            window.location.href = Oldhref;
        });

    });


</script>
