
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;


@{

    bool HasUserConsented = false;

    foreach (var cookie in HttpContextAccessor.HttpContext.Request.Cookies.Keys)
    {
        string cookieName = cookie;
        if (cookieName.Equals("nyxium_consent"))
        {
            HasUserConsented = true;
        }
        string cookieValue = HttpContextAccessor.HttpContext.Request.Cookies[cookieName];

    }
}



@if (!HasUserConsented)
{

    <section id="a5" class="consent-chapter">
        <div class="consent-headline">
            <p class="consent-body-text consent-text-bold">
                Vi bruger cookies til at markedsføre nyxium.
            </p>
        </div>
        <p class="consent-body-text">
            Hvis du klikker på knappen ’Accepter’, godkender du, at nyxium sætter
            cookies til brug for markedsføring.
        </p>
        <p class="consent-body-text">
            Hvis du klikker på knappen ’Afslå,’ sætter vi ikke cookies til brug for
            markedsføring
        </p>
        <p class="consent-body-text">
            Dit valg bliver gemt i en cookie.
        </p>
        <p class="consent-body-text consent-generel-link">
            <a href="#marketingcookies">Klik her</a> for at se hvilke cookier som nyxium anvender til markedsføring
        </p>
    </section>


    <div class="card">
        <div class="card-header">
            <div class="card-body">
                <a href="#" id="consent" class="btn btn-primary consent-btn">Accepter</a>
                <a href="#" id="noconsent" class="btn btn-primary no-consent-btn">Afslå</a>
            </div>
        </div>
    </div>


    <br />
    <br />


    <article class="cookie-description">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    <div class="sidebar-item">
                        <div class="make-me-sticky">
                            <p class="cookie-menu"><a href="#a1">Hvad er cookies</a></p>
                            <p class="cookie-menu"><a href="#a2">nyxium cookies</a></p>
                            <p class="cookie-menu"><a href="#a3">Cookievarighed</a></p>
                            <p class="cookie-menu"><a href="#a4">Efter samtykke</a></p>
                            <p class="cookie-menu"><a href="#a5">Til toppen</a></p>
                        </div>
                    </div>

                </div>
                <div class="col-9">
                    <div class="content-section">
                        <section id="a1">
                            <div class="consent-headline-size-two consent-text-bold">
                                Hvad er cookies.
                            </div>
                            <p class="consent-body-text">
                                En cookie er en lille tekstfil som hentes ned til din PC, tablet eller
                                mobiltelefon. Det er din browser der henter cookier fra den hjemmeside som
                                du besøger. Denne cookie er specifik for den hjemmeside du besøger. Når du
                                så browser rundt på den samme hjemmeside sendes denne tekstfil med op til
                                hjemmesiden hver gang din browser kontakter hjemmesiden. Det er måden at en
                                hjemmeside har lidt hukommelse i forhold til dig som bruger.
                            </p>
                            <p class="consent-body-text">
                                Lovmæssigt deles cookier op i forskellige kategorier.
                            </p>

                            <p class="consent-body-text consent-indent-level-one consent-text-bold">
                                Nødvendige
                            </p>
                            <p class="consent-body-text consent-indent-level-one consent-text-bold">
                                Statistik
                            </p>
                            <p class="consent-body-text consent-indent-level-one consent-text-bold">
                                Personaliseret
                            </p>
                            <p class="consent-body-text consent-indent-level-one consent-text-bold">
                                Marketing
                            </p>

                            <p class="consent-body-text consent-text-bold">
                                Nødvendige cookies
                            </p>

                            <p class="consent-body-text consent-indent-level-one">
                                indeholder information som en hjemmeside skal bruge for at kunne fungere.
                                Det er oftest data om handlinger foretaget af dig, f.eks. en anmodning om
                                tjenester, som f.eks. indstilling af dine personlige præferencer,
                                indlogning eller udfyldning af en formular.
                            </p>

                            <p class="consent-body-text consent-indent-level-one">
                                · Lovmæssigt behøver en hjemmeside IKKE at indhente accept fra dig som
                                bruger.
                            </p>

                            <p class="consent-body-text consent-text-bold">
                                Statistiske cookier
                            </p>

                            <p class="consent-body-text consent-indent-level-one">
                                · bliver brugt til at optimere design, brugervenlighed og effektiviteten af
                                en hjemmeside. Fx ved at indsamle besøgsstatistik.
                            </p>

                            <p class="consent-body-text consent-indent-level-one">
                                · Lovmæssigt SKAL en hjemmeside indhente accept fra dig som bruger.
                            </p>

                            <p class="consent-body-text consent-text-bold">
                                Personaliseret cookie
                            </p>

                            <p class="consent-body-text consent-indent-level-one">
                                Indsamler information om hvordan du som bruger bevæger dig rundt på den
                                besøgte hjemmeside.
                            </p>

                            <p class="consent-body-text consent-indent-level-one">
                                · Indsamler information om hvad du som bruger interesserer dig for. Den
                                indsamlede viden anvendes til at personalisere indholdet på hjemmesiden.
                            </p>
                            <p class="consent-body-text consent-indent-level-one">
                                · Lovmæssigt SKAL en hjemmeside indhente accept fra dig som bruger.
                            </p>

                            <p class="consent-body-text consent-text-bold">
                                Marketing cookier
                            </p>
                            <p class="consent-body-text consent-indent-level-one">
                                indsamler information om hvordan du som bruger bevæger dig rundt på den
                                besøgte hjemmeside. Information anvendes til at målrette annoncer der
                                kunne interessere dig som bruger.
                            </p>

                            <p class="consent-body-text consent-indent-level-one">
                                Indsamler information om hvad du som bruger søger efter på nettet. Med
                                denne information kan hjemmesiden målrette annoncer fra andre
                                leverandører.
                            </p>

                            <p class="consent-body-text consent-indent-level-one">
                                · Lovmæssigt SKAL en hjemmeside indhente accept fra dig som bruger.
                            </p>

                            <p class="consent-body-text consent-generel-link">
                                Se lovgrundlag her:
                                <a href="https://www.retsinformation.dk/eli/lta/2011/1148">
                                    Retsinformation
                                </a>
                            </p>

                        </section>
                        <br />
                        <br />
                        <section id="a2">
                            <div class="consent-headline-size-two consent-text-bold">
                                Nyxium cookies.
                            </div>
                            <p class="consent-body-text ">
                                På nyxium’s hjemmeside anvender vi:
                            </p>
                            <p class="consent-body-text consent-indent-level-one consent-text-bold">
                                Nødvendige cookies
                            </p>
                            <p class="consent-body-text consent-indent-level-two consent-text-bold">
                                .AspNetCore.Antiforgery.xxxxxxx hvor xxxxxxx er en tilfældige tegn
                            </p>
                            <p class="consent-body-text consent-indent-level-three">
                                Denne cookie indeholder en krypteret tekst som nyxium-programmet anvender
                                til at undgå at hackere kan manipulere med de data du indtaster.
                            </p>
                            <p class="consent-body-text consent-indent-level-two consent-text-bold">
                                nyxiumApp
                            </p>
                            <p class="consent-body-text consent-indent-level-three">
                                Denne cookie indeholder krypteret information om din indlogning.
                            </p>
                            <p class="consent-body-text consent-indent-level-two consent-text-bold">
                                nyxium_consent
                            </p>
                            <p class="consent-body-text consent-indent-level-three">
                                Denne cookie anvendes til at huske hvilke cookies du har givet tilladelse
                                til
                            </p>
                            <p id="marketingcookies" class="consent-headline-size-two consent-text-bold">
                                Marketing cookies (FaceBook)
                            </p>
                            <p class="consent-body-text consent-indent-level-one consent-text-bold">
                                fr og _fbp
                            </p>
                            <p class="consent-body-text consent-indent-level-two consent-text-bold">
                                Annoncering, anbefalinger, indblik og måling
                            </p>
                            <p class="consent-body-text consent-indent-level-two">
                                Vi bruger cookies til at vise annoncer for og lave forslag om virksomheder
                                og andre organisationer til personer, der kunne være interesserede i de
                                produkter, tjenester eller sager, der promoveres.
                            </p>
                            <p class="consent-body-text consent-indent-level-two">
                                Eksempel:
                                Cookies giver os mulighed for at levere annoncer til personer, der
                                tidligere har besøgt en virksomheds website, købt virksomhedens produkter
                                eller brugt dens apps, og for at anbefale produkter og tjenester ud fra
                                denne aktivitet. Cookies giver os desuden mulighed for at begrænse det
                                antal gange, du får vist en annonce, så du ikke får vist den samme annonce
                                hele tiden. For eksempel bruges cookien 'fr' til at levere, måle og
                                forbedre relevansen af annoncer. Den har en levetid på 90 dage.
                            </p>
                            <p class="consent-body-text consent-indent-level-two">
                                Vi bruger også cookies til at måle effektiviteten af annoncekampagner for
                                virksomheder, der bruger Facebook-produkterne.
                            </p>
                            <p class="consent-body-text consent-indent-level-three">
                                Eksempel:
                                Vi bruger cookies til at tælle det antal gange, en annonce er blevet vist,
                                og til at beregne prisen for disse annoncer. Vi bruger også cookies til at
                                måle, hvor ofte folk gør ting såsom at foretage et køb efter en
                                annonceeksponering. Cookien '_fbp' identificerer browsere med henblik på at
                                levere annoncer og siteanalyser. Den har en levetid på 90 dage.
                            </p>
                            <p class="consent-body-text consent-indent-level-two">
                                Cookies giver os mulighed for at levere og måle annoncer på tværs af
                                forskellige browsere og enheder, som bruges af den samme person.
                            </p>
                            <p class="consent-body-text consent-indent-level-three">
                                Eksempel:
                                Vi kan bruge cookies til at forhindre, at du får vist den samme annonce
                                flere gange på de forskellige enheder, du bruger.
                            </p>
                            <p class="consent-body-text consent-indent-level-two">
                                Cookies giver os mulighed for at få indblik i de personer, der bruger
                                Facebook-produkterne, samt i de personer, der interagerer med annoncerne,
                                websites og apps fra vores annoncører og de virksomheder, der bruger
                                Facebook-produkterne.
                            </p>
                            <p class="consent-body-text consent-indent-level-three">
                                Eksempel:
                                Vi bruger cookies til at hjælpe virksomheder med at få en forståelse af de
                                typer af personer, der synes godt om deres Facebook-side eller bruger deres
                                apps, så de kan levere mere relevant indhold og udvikle funktioner, der er
                                interessante for deres kunder.
                            </p>
                            <p class="consent-body-text consent-indent-level-two">
                                Vi bruger desuden cookies, f.eks. vores cookie 'oo', der har en levetid på
                                fem år, så du kan vælge ikke at få vist annoncer fra Facebook baseret på
                                din aktivitet på tredjepartswebsites.
                            </p>
                            <p class="consent-body-text consent-indent-level-two consent-generel-link">
                                <a href="https://www.facebook.com/help/769828729705201?ref=cookies">
                                    Læs mere   om de oplysninger, vi modtager, hvordan vi beslutter, hvilke annoncer du
                                    skal have vist på og uden for Facebook-produkterne, og de indstillinger, du
                                    får stillet til rådighed.
                                </a> 
                            </p>
                          
                           
                            <p class="consent-body-text consent-indent-level-one consent-text-bold">
                                presense
                            </p>
                            <p class="consent-body-text consent-indent-level-two consent-text-bold">
                                Funktioner og tjenester på sitet
                            </p>
                            <p class="consent-body-text consent-indent-level-two">
                                Vi bruger cookies til at aktivere den funktionalitet, der hjælper os til at
                                levere Facebook-produkterne.
                            </p>
                            <p class="consent-body-text consent-indent-level-three">
                                Eksempel:
                                Vi bruger cookies til at lagre indstillinger, til at registrere, hvornår du
                                har set eller interageret med indhold fra Facebook-produkter, og til at
                                give dig tilpasset indhold og tilpassede oplevelser. Vi bruger f.eks.
                                cookies til at give dig og andre forslag og til at tilpasse indhold på
                                tredjepartswebsites, der integrerer vores sociale plugins. Hvis du er
                                administrator af en side, giver cookies dig mulighed for at skifte mellem
                                at slå indhold op fra din private Facebook-konto og fra den pågældende
                                side. Vi bruger cookies, f.eks. den sessionsbaserede cookie 'presense', til
                                at muliggøre din brug af chatvinduer i Messenger.
                            </p>
                            <p class="consent-body-text consent-indent-level-two">
                                Vi bruger også cookies til at vise dig indhold, der er relevant for din
                                landeindstilling.
                            </p>
                            <p class="consent-body-text consent-indent-level-three">
                                Eksempel:
                                Vi lagrer oplysninger i en cookie, der er placeret i din browser eller på
                                din enhed, så du får vist sitet på dit foretrukne sprog.
                            </p>
                            <p class="consent-body-text consent-indent-level-one consent-text-bold">
                                c_user og xs
                            </p>
                            <p class="consent-body-text consent-indent-level-two consent-text-bold">
                                Godkendelse
                            </p>
                            <p class="consent-body-text consent-indent-level-two">
                                Vi bruger cookies til at verificere din konto og registrere, når du er
                                logget på, så vi kan gøre det nemmere for dig at få adgang til
                                Facebook-produkterne og give dig en relevant oplevelse og passende
                                funktioner.
                            </p>
                            <p class="consent-body-text consent-indent-level-three">
                                Eksempel:
                                Vi bruger cookies til at sørge for, at du bliver ved med at være logget på,
                                når du navigerer mellem Facebook-sider. Vi bruger også cookies til at huske
                                din browser, så du ikke behøver logge på Facebook flere gange, og så du
                                nemmere kan logge på Facebook via apps og websites fra tredjeparter. Vi
                                bruger f.eks. cookierne 'c_user' og 'xs' til dette formål. De har en
                                løbetid på 365 dage.
                            </p>
                            <p class="consent-body-text consent-indent-level-one consent-text-bold">
                                dpr og wd
                            </p>
                            <p class="consent-body-text consent-indent-level-two consent-text-bold">
                                Effektivitet
                            </p>
                            <p class="consent-body-text consent-indent-level-two">
                                Vi bruger cookies til at give dig den bedst mulige oplevelse.
                            </p>
                            <p class="consent-body-text consent-indent-level-three">
                                Eksempel:
                                Vi bruger cookies til at dirigere trafik mellem servere og til at få
                                indblik i, hvor hurtigt Facebook-produkterne indlæses for forskellige
                                personer. Vi bruger desuden cookies til at registrere størrelsesforhold og
                                mål for din skærm og dine vinduer, og de hjælper os til at se, om du har
                                aktiveret højkontrasttilstand, så vi kan levere vores sites og apps
                                korrekt. Vi indsætter f.eks. cookierne 'dpr' og 'wd', som hver har en
                                levetid på 7 dage, for at levere en optimal oplevelse på din enheds skærm.
                            </p>
                            <p class="consent-body-text consent-indent-level-one consent-text-bold">
                                sb
                            </p>
                            <p class="consent-body-text consent-indent-level-two consent-text-bold">
                                Sikkerhed, site og produktintegritet
                            </p>
                            <p class="consent-body-text consent-indent-level-two">
                                Vi bruger cookies til at beskytte din konto, dine data og
                                Facebook-produkterne.
                            </p>
                            <p class="consent-body-text consent-indent-level-three">
                                Eksempel:
                                Vi kan bruge cookies til at identificere og indføre yderligere
                                sikkerhedsforanstaltninger, hvis nogen forsøger at få adgang til en
                                Facebook-konto uden godkendelse, f.eks. ved hurtigt at gætte på forskellige
                                adgangskoder. Vi bruger også cookies til at lagre oplysninger, så vi kan
                                gendanne din konto i tilfælde af, at du har glemt din adgangskode, eller
                                kræve yderligere godkendelse i tilfælde af, at din konto er blevet hacket.
                                Dette omfatter f.eks. vores cookies 'sb' og 'dbln', som gør det muligt for
                                os at identificere din browser sikkert.
                            </p>
                            <p class="consent-body-text consent-indent-level-one consent-text-bold">
                                datr
                            </p>
                            <p class="consent-body-text consent-indent-level-two">
                                FaceBook har ingen beskrivelse af denne cookie
                            </p>
                            <p class="consent-body-text consent-indent-level-one consent-text-bold">
                                spin
                            </p>
                            <p class="consent-body-text consent-indent-level-two">
                                FaceBook har ingen beskrivelse af denne cookie
                            </p>
                            <p class="consent-body-text consent-indent-level-two consent-generel-link">
                                Informationen om disse cookies er taget fra FaceBook’s hjemmeside:    <a href="https://www.facebook.com/policies/cookies/">(20+) Facebook</a>
                            </p>

                        </section>
                        <br />
                        <br />

                        <section id="a3">
                            <div class="consent-headline-size-two consent-text-bold">
                                Cookievarighed.
                            </div>
                            <p class="consent-body-text">
                                Hvor længe er de anvendte cookier aktive?
                            </p>
                            <p class="consent-body-text">
                                En cookie kan være permanent eller midlertidig.
                            </p>
                            <p class="consent-body-text consent-indent-level-one">
                                En permanent cookie har en udløbsdato og slettes automatisk når det
                                tidspunkt kommer.
                            </p>
                            <p class="consent-body-text consent-indent-level-one">
                                En midlertidig cookie slettes når du lukker din browser. En midlertidig
                                cookie kaldes en session-cookie.
                            </p>
                            <p class="consent-body-text">
                                Her er listen over de cookier der anvendes på nyxium’s hjemmeside. Listen
                                er selvfølgelig den samme liste som du ser her.
                            </p>
                            <table border="1" cellspacing="0" cellpadding="10">
                                <tbody>
                                    <tr>
                                        <td width="278" valign="top" class="consent-headline-size-two consent-text-bold">
                                            <p>
                                                Cookienavn
                                            </p>
                                        </td>
                                        <td width="189" valign="top" class="consent-headline-size-two consent-text-bold">
                                            <p>
                                                Cookiekategori
                                            </p>
                                        </td>
                                        <td width="340" valign="top" class="consent-headline-size-two consent-text-bold">
                                            <p>
                                                Varighed
                                            </p>
                                        </td>
                                        <td width="217" valign="top" class="consent-headline-size-two consent-text-bold">
                                            <p>
                                                Ejer/udsteder
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="278" valign="top">
                                            <p>
                                                nyxiumApp
                                            </p>
                                        </td>
                                        <td width="189" valign="top">
                                            <p>
                                                Nødvendig
                                            </p>
                                        </td>
                                        <td width="340" valign="top">
                                            <p>
                                                Slettes når du lukker din browser
                                            </p>
                                        </td>
                                        <td width="217" valign="top">
                                            <p>
                                                nyxium
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="278" valign="top">
                                            <p>
                                                Nyxium_consent
                                            </p>
                                        </td>
                                        <td width="189" valign="top">
                                            <p>
                                                Nødvendig
                                            </p>
                                        </td>
                                        <td width="340" valign="top">
                                            <p>
                                                Permanent dog max. 90 dage
                                            </p>
                                        </td>
                                        <td width="217" valign="top">
                                            <p>
                                                nyxium
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="278" valign="top">
                                            <p>
                                                .AspNetCore.Antiforgery.xxxxxxx
                                            </p>
                                        </td>
                                        <td width="189" valign="top">
                                            <p>
                                                Nødvendig
                                            </p>
                                        </td>
                                        <td width="340" valign="top">
                                            <p>
                                                Slettes når du lukker din browser
                                            </p>
                                        </td>
                                        <td width="217" valign="top">
                                            <p>
                                                nyxium
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="278" valign="top">
                                        </td>
                                        <td width="189" valign="top">
                                        </td>
                                        <td width="340" valign="top">
                                        </td>
                                        <td width="217" valign="top">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="278" valign="top">
                                            <p>
                                                fr
                                            </p>
                                        </td>
                                        <td width="189" valign="top">
                                            <p>
                                                Marketing
                                            </p>
                                        </td>
                                        <td width="340" valign="top">
                                            <p>
                                                Permanent dog max. 90 dage
                                            </p>
                                        </td>
                                        <td width="217" valign="top">
                                            <p>
                                                FaceBook
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="278" valign="top">
                                            <p>
                                                _fbp
                                            </p>
                                        </td>
                                        <td width="189" valign="top">
                                            <p>
                                                Marketing
                                            </p>
                                        </td>
                                        <td width="340" valign="top">
                                            <p>
                                                Permanent dog max. 90 dage
                                            </p>
                                        </td>
                                        <td width="217" valign="top">
                                            <p>
                                                FaceBook
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="278" valign="top">
                                            <p>
                                                presense
                                            </p>
                                        </td>
                                        <td width="189" valign="top">
                                            <p>
                                                Marketing
                                            </p>
                                        </td>
                                        <td width="340" valign="top">
                                            <p>
                                                Permanent dog max. 30 dage
                                            </p>
                                        </td>
                                        <td width="217" valign="top">
                                            <p>
                                                FaceBook
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="278" valign="top">
                                            <p>
                                                c_user
                                            </p>
                                        </td>
                                        <td width="189" valign="top">
                                            <p>
                                                Marketing
                                            </p>
                                        </td>
                                        <td width="340" valign="top">
                                            <p>
                                                Permanent dog max. 12 md.
                                            </p>
                                        </td>
                                        <td width="217" valign="top">
                                            <p>
                                                FaceBook
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="278" valign="top">
                                            <p>
                                                xs
                                            </p>
                                        </td>
                                        <td width="189" valign="top">
                                            <p>
                                                Marketing
                                            </p>
                                        </td>
                                        <td width="340" valign="top">
                                            <p>
                                                Permanent dog max. 12 md.
                                            </p>
                                        </td>
                                        <td width="217" valign="top">
                                            <p>
                                                FaceBook
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="278" valign="middle">
                                            <p>
                                                dpr
                                            </p>
                                        </td>
                                        <td width="189" valign="top">
                                            <p>
                                                Marketing
                                            </p>
                                        </td>
                                        <td width="340" valign="top">
                                            <p>
                                                Permanent dog max. 7 dage
                                            </p>
                                        </td>
                                        <td width="217" valign="top">
                                            <p>
                                                FaceBook
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="278" valign="top">
                                            <p>
                                                wd
                                            </p>
                                        </td>
                                        <td width="189" valign="top">
                                            <p>
                                                Marketing
                                            </p>
                                        </td>
                                        <td width="340" valign="top">
                                            <p>
                                                Permanent dog max. 7 dage
                                            </p>
                                        </td>
                                        <td width="217" valign="top">
                                            <p>
                                                FaceBook
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="278" valign="top">
                                            <p>
                                                sb
                                            </p>
                                        </td>
                                        <td width="189" valign="top">
                                            <p>
                                                Marketing
                                            </p>
                                        </td>
                                        <td width="340" valign="top">
                                            <p>
                                                Permanent dog max. 24 md.
                                            </p>
                                        </td>
                                        <td width="217" valign="top">
                                            <p>
                                                FaceBook
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="278" valign="top">
                                            <p>
                                                datr
                                            </p>
                                        </td>
                                        <td width="189" valign="top">
                                            <p>
                                                Marketing
                                            </p>
                                        </td>
                                        <td width="340" valign="top">
                                            <p>
                                                Permanent dog max. 24 md.
                                            </p>
                                        </td>
                                        <td width="217" valign="top">
                                            <p>
                                                FaceBook
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="278" valign="top">
                                            <p>
                                                spin
                                            </p>
                                        </td>
                                        <td width="189" valign="top">
                                            <p>
                                                Marketing
                                            </p>
                                        </td>
                                        <td width="340" valign="top">
                                            <p>
                                                Permanent dog max. 1 dag.
                                            </p>
                                        </td>
                                        <td width="217" valign="top">
                                            <p>
                                                FaceBook
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                        <br />
                        <br />
                        <section id="a4">
                            <div class="consent-headline-size-two consent-text-bold">
                                Efter samtykke.
                            </div>
                            <p class="consent-body-text">
                                Hvis du på et tidligere tidspunkt har givet samtykke til at vi anvender marketing-cookies, kan du altid trække samtykket tilbage.
                            </p>
                            <p class="consent-body-text consent-generel-link">
                                Hvis du er logget ind på nyxium så finder du menu-punktet her
                                <a href="#" OnClick="window.open('/Images/Cookie-edit-menu-logged-in.PNG', '_blank')">Klik her</a>
                            </p>
                            <p class="consent-body-text consent-generel-link">
                                Hvis du ikke er logget ind på nyxium så finder du menu-punktet her
                                <a href="#" OnClick="window.open('/Images/Cookie-edit-menu-not-logged-in.PNG', '_blank')">Klik her</a>
                            </p>
                            <p class="consent-body-text consent-generel-link">
                                Så får du muligheden for at ændre dit samtykke via denne dialog box 
                                <a href="#" OnClick="window.open('/Images/Cookie-change-form.PNG', '_blank')">Klik her</a>
                            </p>
                        </section>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </article>

    <form method="post" action="/account/CookieSettings" id="cookiesettings">
        <input type="text" name="cookieValue" id="cookieValue" hidden />
    </form>

}


<script>
    $(document).ready(function () {

        var Oldhref = window.location.href;

        var pos = Oldhref.indexOf('#');
        if (pos > -1) {
            Oldhref = Oldhref.substring(0, pos);
        }



        $('#consent').bind('click', function (event) {
            event.preventDefault();
            event.stopPropagation();

            var cookieText = {
                marketing: "Accepted",
                statistic: "NotAccepted"
            };


            cvalue = "statistic:" + cookieText.statistic + "marketing:" + cookieText.marketing;
            exdays = 90;
            setCookie("nyxium_consent", cvalue, exdays);

            $('#cookieValue').val(cvalue);

            $("#cookiesettings").submit();

            //window.location.href = Oldhref;
        });

        $('#noconsent').bind('click', function (event) {
            event.preventDefault();
            event.stopPropagation();

            var cookieText = {
                marketing: "NotAccepted",
                statistic: "NotAccepted"
            };

            cvalue = "statistic:" + cookieText.statistic + "marketing:" + cookieText.marketing;
            exdays = 90;
            setCookie("nyxium_consent", cvalue, exdays);

            window.location.href = Oldhref;
        });

    });


</script>
