@model GeneralReplyViewModel

    <div class="formcontainer">
        <h1>
            @Model.PageTitle
        </h1>

        <div class="form-group row">
            <div class="form-group col-md-8">
                <span>
                    @Model.ConfirmText
                </span>
            </div>
        </div>
        
        </div>
        <div class="form-group row">
            <div class="form-group col-md-4">
                <span>
                    <a href="@Model.Link1"> @Model.LinkText1</a>                    
                </span>
            </div>
        </div>
      
    </div>

<br />