

<div style="width:90%; margin:0 auto;">
    <table id="stockitemtable" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%" cellspacing="0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Varenavn</th>
                <th>Varenummer</th>
                <th>Kat 1</th>
                <th>Kat 2</th>
                <th>Kat 3</th>
                <th>Antal</th>
                <th>Min. antal på lager</th>
                <th>Lokation</th>
                <th>Leverandør</th>
                <th>Lev. Id</th>
                <th>Lev. varenummer</th>
                <th>Kostpris</th>
                <th>Lagerværdi</th>
                <th>Salgspris</th>
                <th>På lager igen</th>
                <th>Udløbsdato</th>
                <th>Ændret</th>
                <th>Oprettet</th>
                <th>Kat 1 id</th>
                <th>Kat 2 id</th>
                <th>Kat 3 id</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr>
                <th>Id</th>
                <th>Varenavn</th>
                <th>Varenummer</th>
                <th>Kat 1</th>
                <th>Kat 2</th>
                <th>Kat 3</th>
                <th>Antal</th>
                <th>Min. antal på lager</th>
                <th>Lokation</th>
                <th>Leverandør</th>
                <th>Lev. Id</th>
                <th>Lev. varenummer</th>
                <th>Kostpris</th>
                <th>Lagerværdi</th>
                <th>Salgspris</th>
                <th>På lager igen</th>
                <th>Udløbsdato</th>
                <th>Ændret</th>
                <th>Oprettet</th>
                <th>Kat 1 id</th>
                <th>Kat 2 id</th>
                <th>Kat 3 id</th>
            </tr>
        </tfoot>
    </table>
</div>

<br />
<br />




<script>

    var initializingCategory1Field;
    var initializingCategory2Field;
    var stockitemtable;
    var stockItemEditor; // use a global for the submit and return data rendering in the examples
    var stockItemCategoryEditor; // use a global for the submit and return data rendering in the examples
    var optionsCategory1 = [];
    var optionsCategory2 = [];
    var optionsCategory3 = [];

    var category1AvoidDependentFirstCall = true;
    var category2AvoidDependentFirstCall = true;
    var category3AvoidDependentFirstCall = true;

    $(document).ready(function () {

        initializingCategory1Field = 1;
        initializingCategory2Field = 1;

        initializeStockItemEditor();

        initializeStockItemCategoryEditor1();

        initializeStockitemtable();

        initializeStockitemtableFooter();
        initializeSearchStockitemtableFooter();

        setPresubmitEventHandlerOnStockItemEditor();
        setPostSubmitEventHandlerOnStockItemEditor();

        activateInLineEdit();

        activateSelectOnStockItemTable();
        initializeTypeAheadInputStockItemVendorName();

        setPostSubmitEventHandlerOnStockItemCategoryEditor();


        var newItem = document.createElement("div");       // Create a <div> node
        var textnode = document.createTextNode("Varer");  // Create a text node
        newItem.appendChild(textnode);
        newItem.classList.add("tableheadline");
        newItem.classList.add("col-sm-2");


        var Mydiv = document.getElementById('stockitemtable_wrapper');
        var mychildren = Mydiv.getElementsByTagName('div');
        for (var i = 0; i < mychildren.length; ++i) {
            e = mychildren[i];
            var myclass = e.getAttribute("class");
            if (myclass == "row") {
                var mychildren1 = e.getElementsByTagName('div');
                e1 = mychildren1[0];
                e.insertBefore(newItem, e1);
                break;
            }
        }


        stockItemEditor.on('opened', function (e, json, data) {
            $("#DTE_Field_inStockAgainDate").datetimepicker({
                timepicker: false,
                datepicker: true,
                hours12: false,
                format: 'd-m-yy'
            });

            $("#DTE_Field_expirationdate").datetimepicker({
                timepicker: false,
                datepicker: true,
                hours12: false,
                format: 'd-m-yy'
            });

            $.datetimepicker.setLocale('da');
        });


        stockItemCategoryEditor.on('opened', function (e, json, data) {

            stockItemCategoryEditor.buttons([
                {
                    text: 'Gem',
                    className: 'primary',
                    action: function () {
                        stockItemCategoryEditor.submit();
                    }
                },
                {
                    text: 'Annuller',
                    action: function () {
                        var myTable = $('#stockitemtable').DataTable();
                        var editor = myTable.editor();
                        editor.close();
                    }
                }
            ]);

            var selectedDatatableRowData = stockitemtable.row({ selected: true }).data();

            stockItemCategoryEditor.undependent('category1', function (val, data, callback) {
            })

            stockItemCategoryEditor.undependent('category2', function (val, data, callback) {
            })

            stockItemCategoryEditor.undependent('category3', function (val, data, callback) {
            })

             category1AvoidDependentFirstCall = false;
             category2AvoidDependentFirstCall = true;
             category3AvoidDependentFirstCall = true;

            if (selectedDatatableRowData.category1Id != null) {
                $("#DTE_Field_category1").val(selectedDatatableRowData.category1Id);
                getCategory2ByCategory1(selectedDatatableRowData.category1Id);
                if (selectedDatatableRowData.category2Id != null) {
                    //
                    //$("#DTE_Field_category2").val(selectedDatatableRowData.category2Id);

                    //var  htmlStr = '<option value ="' + selectedDatatableRowData.category2Id + '">' + selectedDatatableRowData.category2 + '</option>'
                    // $("#DTE_Field_category2").val(htmlStr);

                    $("#DTE_Field_category2").append($('<option>').val(selectedDatatableRowData.category2Id).text(selectedDatatableRowData.category2));
                    $("#DTE_Field_category2").val(selectedDatatableRowData.category2Id);
                    getCategory3ByCategory2(selectedDatatableRowData.category2Id);

                    if (selectedDatatableRowData.category3Id != null) {
                        //$("#DTE_Field_category3").val(selectedDatatableRowData.category3Id);
                        $("#DTE_Field_category3").append($('<option>').val(selectedDatatableRowData.category3Id).text(selectedDatatableRowData.category3));
                        $("#DTE_Field_category3").val(selectedDatatableRowData.category3Id);
                    }
                }
            }

            initializeCategoryFieldsChangeEvents1();


        });

        stockItemCategoryEditor.on('close', function (e, mode, action) {

            stockItemCategoryEditor.undependent('category1', function (val, data, callback) {
            })

            stockItemCategoryEditor.undependent('category2', function (val, data, callback) {
            })

            stockItemCategoryEditor.undependent('category3', function (val, data, callback) {
            })
        })


        stockitemtable.on('xhr.dt', function (e, settings, json, xhr) {
            if (xhr.status != 200) {
                $.fn.dataTable.ext.errMode = 'throw';  // this disables the datatables error handling
                var errorJson = xhr.responseJSON;
                var errorText = errorJson.Detail;
                var errorTitle = errorJson.Title;
                var errorInstance = errorJson.Instance;
                location.href = "/home/ShowErrorForJSON?errorinstance=" + errorInstance;
            }
        })

    });

</script>
