@model ChangePasswordViewModel



    <div class="formcontainer">
        <h1>Få nyt kodeord</h1>
        <br />
        <form asp-controller="Administration" asp-action="ChangePassword" method="post">

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row">
                <div class="form-group col-md-4">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="form-group col-md-4">
                    <button type="submit" class="btn btn-outline-secondary btn-sm">Send</button>
                </div>
            </div>
        </form>
    </div>