@model PurchaseBudgetEditViewModel

<div class="formcontainer">
    <div class="tableheadline">
        Indkøbsbudget
    </div>

    <div class="row">
        <div class="col-12">
            search
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            @if (Model != null)
            {
                @foreach (var stockItem in Model.StockItems)
                {
                    <div class="rowcontainer">
                        <div class="row itemline" id="@stockItem.Id" draggable="true" ondragstart="dragStockItemLine(event)">
                            <div class="col-3">@stockItem.ItemName</div>
                            <div class="col-3">@stockItem.ItemNumber</div>
                            <div class="col-3">@stockItem.Unit</div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="col-2">

        </div>

        <div class="col-6">
            <div id="jan" class="row periodcontainer" ondrop="drop(event)" ondragover="allowDrop(event)">
                Januar
                <div class="col-12">

                </div>
            </div>
            <div id="feb" class="row periodcontainer" ondrop="drop(event)" ondragover="allowDrop(event)">
                Februar
                <div class="col-12">

                </div>
            </div>
            <div id="mar" class="row periodcontainer" ondrop="drop(event)" ondragover="allowDrop(event)">
                Marts
                <div class="col-12">

                </div>
            </div>
            <div id="april" class="row periodcontainer" ondrop="drop(event)" ondragover="allowDrop(event)">
                April
                <div class="col-12">

                </div>
            </div>
            <div id="maj" class="row periodcontainer" ondrop="drop(event)" ondragover="allowDrop(event)">
                Maj
                <div class="col-12">

                </div>
            </div>
            <div id="juni" class="row periodcontainer" ondrop="drop(event)" ondragover="allowDrop(event)">
                Juni
                <div class="col-12">

                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        $(document).ready(function () {



        });


        function allowDrop(ev) {
            ev.preventDefault();
        }

        function dragStockItemLine(ev) {
            ev.dataTransfer.setData("text", ev.target.id + "|" + "1");
        }

        function dragPeriodLine(ev) {
            ev.dataTransfer.setData("text", ev.target.id + "|" + "0");
        }

        function drop(ev) {
            ev.preventDefault();

            var data = ev.dataTransfer.getData("text");
            var dataArray = data.split("|");

            if (ev.ctrlKey && dataArray[1] != "1") {
                var nodeCopy = document.getElementById(dataArray[0]).cloneNode(true);
                nodeCopy.id = "newId"; /* We cannot use the same ID */
                ev.target.appendChild(nodeCopy);
                return;
            }

            if (dataArray[1] == "1") {

                var sourceDiv = document.getElementById(dataArray[0]);
                sourceDiv.removeAttribute("ondragstart");
                sourceDiv.setAttribute("ondragstart", "dragPeriodLine(event)")

                sourceDiv.removeAttribute("itemline");
                sourceDiv.classList.add("budgetitemline");

                var periodcontainerDivId = ev.target.getAttribute("id");
                sourceDiv.innerHTML = '<label>Antal</label><input type="text" name="Quantity" class="periodline-input-field">' + sourceDiv.innerHTML;
                sourceDiv.innerHTML = sourceDiv.innerHTML + '<input type="text" hidden name="periodeDivId" value="' + periodcontainerDivId + '">';

                var targetCol = ev.target.firstElementChild;
                targetCol.appendChild(sourceDiv);
            }

            if (dataArray[1] == "0") {

                var sourceDiv = document.getElementById(dataArray[0]);
                var periodcontainerDivId = ev.target.getAttribute("id");

                var targetCol = ev.target.firstElementChild;
                targetCol.appendChild(sourceDiv);
            }
        }

    </script>
}
