
@{
    Layout = null;
}


    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Om Nyxium</title>
        <meta name="Description" content="Lær mere om vores ekstremt gode priser">
       
        <script src="https://kit.fontawesome.com/e061cad298.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/frontpage/styles/scss/styles.css">
        <link rel="shortcut icon" type="image/png" href="/frontpage/img/favicon.png" />
        <style>
            .top {
                background-image: url(/frontpage/img/svgs/covers/lilla-cover.svg);
                background-size: cover;
                background-position: bottom;
            }
        </style>

        <!-- Facebook Pixel Code -->
        <script>
            !function (f, b, e, v, n, t, s) {
                if (f.fbq) return; n = f.fbq = function () {
                    n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                };
                if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
                n.queue = []; t = b.createElement(e); t.async = !0;
                t.src = v; s = b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t, s)
            }(window, document, 'script',
                'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '349668506333283');
            fbq('track', 'PageView');
        </script>
        <noscript>
            <img height="1" width="1"
                 src="https://www.facebook.com/tr?id=349668506333283&ev=PageView
&noscript=1" />
        </noscript>
        <!-- End Facebook Pixel Code -->

    </head>

    <header>
        <div class="header-wrapper">
            <div class="logo"><a href="/"><img src="/frontpage/img/nyxium-logo.png"></a></div>
            <div class="burger">
                <span class="bars"></span>
            </div>
            <nav class="nav">
                <a href="/frontpage/prices">Priser</a>
                <div class="submenu">
                    <p class="dropdowntrigger">Integrationer <i class="fas fa-chevron-down"></i></p>
                    <div class="submenubullets">
                        <a href="/frontpage/integrationdinero">Dinero</a>
                    </div>
                </div>
                <a href="/frontpage/About">Om</a>
                <a href="/frontpage/support">Support</a>
                <a href="/Account/login">Login</a>
                <a href="/Account/registerCompanyAccount" class="btn">Opret konto</a>
            </nav>
        </div>
    </header>
    
    <body>
        <div class="top top600">
            <section class="cover_content cover_content-grid">
                <article class="left">
                    <h1>Om Nyxium</h1>
                    <p class="subheading">
                        nyxium er udviklet af wedigIT ApS.<br /><br />
                        Vores mål er at skabe bæredygtige og billige løsninger for iværksættere og små virksomheder.<br /><br />
                        Dette vil vi ikke gøre alene. Vi vil i et samarbejde med jer skabe produkter som er udviklet af jer til jer.
                    </p>
                </article>
                <article class="right">
                    <img src="/frontpage/img/svgs/om-placeholder.svg" loading="lazy" class="eheight">
                </article>
            </section>
        </div>
        <div class="teamWrapper container-et-eb text-center">


            <div class="headerh2icon">
                <img src="/frontpage/img/pngs/icons/chart.png" alt="integration-icon" loading="lazy">
                <h2>Applikationer i nyxium</h2>
            </div>

            <section class="team grid-3">
                <article class="member">
                </article>
                <article class="member">
                    <p>Kundestyring (CRM)</p>
                    <p>Lagerstyring</p>
                    <p>Booking</p>
                    <p>Leverandørstyring</p>
                    <p>Salgsstatistik</p>
                </article>
                <article class="member">
                </article>
            </section>
        </div>



        <section class="get-started container-eb text-center pb50">



            <div class="headerh2icon">
                <img src="/frontpage/img/pngs/icons/bg-rocket.png" alt="rocket-icon" loading="lazy">
                <h2>Kom i gang med at bruge Nyxium i dag</h2>
            </div>

            <p>Gratis oprettelse, gratis prøveperiode og ingen binding - Hvad skulle holde dig tilbage?</p>
            <a href="/Account/registerCompanyAccount" class="btn">Opret konto</a>
        </section>

        <script src="~/frontpage/js/front.js"></script>


        <footer>
            <div class="columns">


                <div class="column">

                    <a href="#">
                        nyxium er ejet og drevet af:<br />
                        wedigIT ApS<br />
                        Axeltorv 5 3 2<br />
                        4700 Næstved<br />
                        CVR: 40777326<br />
                        info@nyxium.dk<br />
                    </a>

                </div>

            </div>
        </footer>



    </body>

    </html>