
@{
    Layout = null;
}

@model WedigITCRM.Controllers.AccountController.LicenseSelectionModel

    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Se vores priser</title>
        <meta name="Description" content="Lær mere om vores ekstremt gode priser">
        <script src="https://kit.fontawesome.com/e061cad298.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/frontpage/styles/scss/styles.css">


        <script src='https://unpkg.com/jquery@3.4.1/dist/jquery.min.js'></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


        <link rel="shortcut icon" type="image/png" href="/frontpage/img/favicon.png" />
        <style>
            .top {
                background-image: url(/frontpage/img/svgs/covers/priser-cover.svg);
                background-size: cover;
                background-position: bottom;
            }
        </style>
    </head>

    <header>
        <div class="header-wrapper">
            <div class="logo"><a href="/"><img src="/frontpage/img/nyxium-logo.png"></a></div>
            <div class="burger">
                <span class="bars"></span>
            </div>
            <nav class="nav">
                <a href="/frontpage/prices">Priser</a>
                <div class="submenu">
                    <p class="dropdowntrigger">Integrationer <i class="fas fa-chevron-down"></i></p>
                    <div class="submenubullets">
                        <a href="/frontpage/integrationdinero">Dinero</a>
                    </div>
                </div>
                <a href="/frontpage/About">Om</a>
                <a href="/frontpage/support">Support</a>
                <a href="/Account/login">Login</a>
                <a href="/Account/registerCompanyAccount" class="btn">Opret konto</a>
            </nav>
        </div>
    </header>
    <div class="top ">
        <body>

            <section class="cover_content cover_content-nogrid">

                <h1> Din gratis periode er udløbet.</h1>
                <p class="subheading">
                    Hvis du ønsker at forsætte så vælg et abonnement nedenfor. Hvis du ikke ønsker et abonnement, gemmer vi dine data 1 måned. Herefter vil dine data blive slettet.
                </p>


                <article class="price">
                    <div class="price-box">
                        <p class="type">Basis</p>
                        <p class="pprice">49 DKK</p>
                        <p class="pprice">excl. moms pr. md.</p>
                        <p class="description">Perfekt til dem der vil se nyxium an</p>
                        <p class="features"><img src="/frontpage/img/jpgs/price-circle-green.jpg">1 applikation</p>


                        <p class="features"><input type="checkbox" id="licenseCRM" class="basic"> CRM/Kundestyring</p>
                        <p class="features"><input type="checkbox" id="licenseInventory" class="basic"> Lagerstyring</p>
                        <p class="features"><input type="checkbox" id="licenseBooking" class="basic"> Booking</p>
                        <p class="features"><input type="checkbox" id="licenseVendors" class="basic"> Leverandører</p>
                        <p class="features"><input type="checkbox" id="licenseStatistic" class="basic"> Salgsstatistik</p>

                        <p class="features"><img src="/frontpage/img/jpgs/price-circle-green.jpg">Ubegrænset antal brugere</p>
                        <p class="features"><img src="/frontpage/img/jpgs/price-circle-green.jpg">Gratis oprettelse</p>
                        <a href="#" id="buttonbasicSelected" class="btn btn-fullwidth">Køb</a>
                        <p id="errorbasicSelecton" style="color:red;" class="description"></p>
                    </div>
                    <div class="price-box">
                        <p class="type blue">Pro</p>
                        <p class="pprice">79 DKK</p>
                        <p class="pprice">excl. moms pr. md.</p>
                        <p class="description">Perfekt til den mindre forretning</p>
                        <p class="features"><img src="/frontpage/img/jpgs/price-circle-blue.jpg">3 applikationer</p>

                        <p class="features"><input type="checkbox" id="licenseCRM" class="pro"> CRM/Kundestyring</p>
                        <p class="features"><input type="checkbox" id="licenseInventory" class="pro"> Lagerstyring</p>
                        <p class="features"><input type="checkbox" id="licenseBooking" class="pro"> Booking</p>
                        <p class="features"><input type="checkbox" id="licenseVendors" class="pro"> Leverandører</p>
                        <p class="features"><input type="checkbox" id="licenseStatistic" class="pro"> Salgsstatistik</p>

                        <p class="features"><img src="/frontpage/img/jpgs/price-circle-blue.jpg">Ubegrænset antal brugere</p>
                        <p class="features"><img src="/frontpage/img/jpgs/price-circle-blue.jpg">Gratis oprettelse</p>
                        <a href="#" id="buttonproSelected" class="btn btn-fullwidth blue-bg">Køb</a>
                        <p id="errorproSelecton" style="color:red;" class="description"></p>


                    </div>
                    <div class="price-box">
                        <p class="type purple">Business</p>
                        <p class="pprice">99 DKK</p>
                        <p class="pprice">excl. moms pr. md.</p>
                        <p class="description">Perfekt til den lidt større forretning</p>
                        <p class="features"><img src="/frontpage/img/jpgs/price-circle-purple.jpg">Alle applikationer</p>

                        <p class="features"><input type="checkbox" id="licenseCRM" class="business" checked disabled> CRM/Kundestyring</p>
                        <p class="features"><input type="checkbox" id="licenseInventory" class="business" checked disabled> Lagerstyring</p>
                        <p class="features"><input type="checkbox" id="licenseBooking" class="business" checked disabled> Booking</p>
                        <p class="features"><input type="checkbox" id="licenseVendors" class="business" checked disabled> Leverandører</p>
                        <p class="features"><input type="checkbox" id="licenseStatistic" class="business" checked disabled> Salgsstatistik</p>

                        <p class="features"><img src="/frontpage/img/jpgs/price-circle-purple.jpg">Ubegrænset antal brugere</p>
                        <p class="features"><img src="/frontpage/img/jpgs/price-circle-purple.jpg">Gratis oprettelse</p>
                        <a href="#" id="buttonbusinessSelected" class="btn btn-fullwidth purple-bg">Køb</a>
                    </div>
                </article>

            </section>

            <input asp-for="@Model.ActivationKey" id="ActivationKey" type="text" hidden />
    </div>





    <section class="integrations-overview container-et-eb text-center">
    </section>


    <div class="container-et-eb pb50 testimonials">



    </div>


    <script src="~/frontpage/js/front.js"></script>

    <footer>
        <div class="columns">


            <div class="column">
                <h3>Løsninger</h3>
                <a href="#">Menupunkt 1</a>
                <a href="#">Menupunkt 2</a>
                <a href="#">Menupunkt 3</a>
                <a href="#">Menupunkt 4</a>
            </div>
            <div class="column">
                <h3>Support</h3>
                <a href="#">Menupunkt 1</a>
                <a href="#">Menupunkt 2</a>
                <a href="#">Menupunkt 3</a>
                <a href="#">Menupunkt 4</a>
            </div>
            <div class="column">
                <h3>nyxium</h3>
                <a href="#">Menupunkt 1</a>
                <a href="#">Menupunkt 2</a>
                <a href="#">Menupunkt 3</a>
                <a href="#">Menupunkt 4</a>
            </div>

            <div class="column">
                <a href="#">FB</a>
                <a href="#">LN</a>
                <a href="#">IG</a>
            </div>
        </div>
    </footer>




    </body>


    <script>

        $(document).ready(function () {


            $('.basic').bind('change', function () {

                var flag = $(this).prop('checked');
                var currentCheckBox = $(this);

                $(".basic").each(function (index) {
                    $(this).prop("checked", false);
                });

                if (flag) {
                    currentCheckBox.prop("checked", true);
                }
            });

            // Basic license i selected

            $('#buttonbasicSelected').bind('click', function () {

                var IsAnySelected = false;

                var selectedApp;

                $(".basic").each(function (index) {

                    if ($(this).prop("checked")) {
                        IsAnySelected = true;
                        selectedApp = $(this).attr("id")
                    }
                });

                if (IsAnySelected == false) {
                    $('#errorbasicSelecton').html("Der skal vælges en applikation");
                }
                else {
                    $('#errorbasicSelecton').html("");
                    submitLicenseSelection("Basic", selectedApp);
                }
            });

            // Pro license i selected

            $('#buttonproSelected').bind('click', function () {

                var numberOfSelectedApps = 0;

                var selectedAppIds = [];

                $(".pro").each(function (index) {

                    if ($(this).prop("checked")) {
                        numberOfSelectedApps++;
                        selectedAppIds.push($(this).attr("id"));
                    }
                });


                if (numberOfSelectedApps == 0) {
                    $('#errorproSelecton').html("Der er ikke valgt nogle applikationer");
                    return;
                }
                if (numberOfSelectedApps != 3) {
                    $('#errorproSelecton').html("Der skal vælges 3 applikationer");
                    return;
                }
                else {
                    $('#errorproSelecton').html("");
                    submitLicenseSelection("Pro", selectedAppIds.toString());
                }
            });

            // Business license i selected

            $('#buttonbusinessSelected').bind('click', function () {
                submitLicenseSelection("Business", selectedApp);
            });

        });




        function submitLicenseSelection(licenseType, Applications) {


            var activationKey = $('#ActivationKey').val();

            $.ajax({
                type: "POST",
                url: "/account/BuyLicense",
                data: 'licenseType=' + licenseType + "&applications=" + Applications + "&ActivationKey=" + activationKey,
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                dataType: "json",
                success: function (result) {


                },

                failure: function (errMsg) {
                    alert(errMsg);
                }
            });


        }

    </script>




    </html>