
@{
    Layout = null;
}


    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Velommen til nyxium</title>
        <meta name="Description" content="Nyxium forbinder al din online data">
        <script src="https://kit.fontawesome.com/e061cad298.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/frontpage/styles/scss/styles.css">
        <link rel="shortcut icon" type="image/png" href="/frontpage/img/favicon.png" />
        <style>
            .top {
                background-image: url(/frontpage/img/svgs/covers/front-page-cover.svg);
                background-size: cover;
                background-position: bottom;
            }
        </style>
    </head>

    <header>
        <div class="header-wrapper">
            <div class="logo"><a href="/"><img src="/frontpage/img/nyxium-logo.png"></a></div>
            <div class="burger">
                <span class="bars"></span>
            </div>
            <nav class="nav">
                <a href="/frontpage/prices">Priser</a>
                <div class="submenu">
                    <p class="dropdowntrigger">Integrationer <i class="fas fa-chevron-down"></i></p>
                    <div class="submenubullets">
                        <a href="/frontpage/integrationdinero">Dinero</a>
                    </div>
                </div>
                <a href="/frontpage/About">Om</a>
                <a href="/frontpage/support">Support</a>
                <a href="/Account/login">Login</a>
                <a href="/Account/registerCompanyAccount" class="btn">Opret konto</a>
            </nav>
        </div>
    </header>
    <div class="top top700">
        <body>
            <section class="cover_content cover_content-grid">
                <article class="left">
                    <h1 class="fph1">Forbind <span class="effect"></span></h1>
                    <p class="subheading">
                        nyxium, er en dansk udviklet programpakke til dig som hellere vil bruge tid på din forretnings kerneprodukt. Hos os får du ikke kun en pakkeløsning som binder dine data sammen, du får den tilmed til markedets laveste pris. Fik vi nævnt... første måned er GRATIS.
                    </p>
                    <a href="/Account/registerCompanyAccount" class="btn">Opret konto</a>
                </article>
                <article class="right">
                    <img src="/frontpage/img/svgs/illustrations/tabs.svg" loading="lazy">
                </article>
            </section>
    </div>

    <div class="container-et pb50">
        <h2 class="text-center">Forbind din virksomhed</h2>

        <section class="grid-3 company-connect">
            <article class="company-connect_grid">
                <img src="/frontpage/img/svgs/illustrations/connected.svg" loading="lazy">
                <h3>Sammensæt din data</h3>
                <p>
                    nyxium - en pakkeløsning<br />
                    nyxium er ikke et program men en hel programpakke. Det betyder at du ikke skal bruge tid på integrationer mellem forskellige løsninger.
                </p>
            </article>
            <article class="company-connect_grid">
                <img src="/frontpage/img/svgs/illustrations/online-transactions.svg" loading="lazy">
                <h3>Sammensæt din data</h3>
                <p>
                    Integration til økonomisystem<br />
                    Med nyxium vil du kunne integrere dine data med dinero og derved have en komplet og billig løsning for din virksomhed.
                </p>
            </article>
            <article class="company-connect_grid">
                <img src="/frontpage/img/svgs/illustrations/responsive.svg" loading="lazy">
                <h3>Sammensæt din data</h3>
                <p>
                    Overfør data<br />
                    Bruger du allerede dinero, kan du med vores importmodul, let overføre dine data fra dinero til nyxium... det er selvfølgelig gratis.
                </p>
            </article>
        </section>
    </div>


    <div class="twoGrid">
        <section class="container-et-eb grid-2 pb50">
            <article class="twoGrid_grid img1">
                <img src="/frontpage/img/svgs/illustrations/real-time-sync.svg" alt="" loading="lazy">
            </article>
            <article class="twoGrid_grid text1">
                <h2>Alle dine vigtigste data samlet et sted</h2>
                <p>Med nyxium behøver du ikke bekymre dig om dine data. Uanset hvilken del af nyxium du arbejder i, vil du have adgang til dine data på kryds og tværs. Om det er dine kunde- vare- eller leverandørinformationer så er de tilgængelige hvor de er relevante for dig.</p>
                <a href="/Account/registerCompanyAccount" class="btn">Opret konto</a>
            </article>
            <article class="twoGrid_grid text2">
                <h2>Alle dine vigtigste data samlet et sted</h2>
                <p>
                    Med nyxium er du sikret daglig backup og en oppetid på 99,99%. Alle servere og alle data er placeret i Danmark og overholder alle regler og procedurer.
                </p>
                <a href="/Account/registerCompanyAccount" class="btn">Opret konto</a>
            </article>
            <article class="twoGrid_grid img2">
                <img src="/frontpage/img/svgs/tasks.svg" alt="/frontpage/img/svgs/tasks.svg" loading="lazy">
            </article>
        </section>
    </div>


    <div class="container-et-eb pb50 testimonials">

        <div class="headerh2icon">
            <img src="/frontpage/img/pngs/icons/smile.png" alt="smile-icon" loading="lazy">
            <h2>Vi vil have glade kunder</h2>
        </div>

        <section class="grid-3">
            <article class="testimonials_grid">
                <div class="text">
                    <p>
                        Vi lytter til vores kunders idéer.
                    </p>
                </div>
            </article>
            <article class="testimonials_grid">
                <div class="text">
                    <p>
                        Vi lytter til vores kunders ønsker.
                    </p>
                </div>
            </article>
            <article class="testimonials_grid" loading="lazy">
                <div class="text">
                    <p>
                        Vi implementerer vore kunders idéer og ønsker.
                    </p>
                </div>
            </article>
        </section>
    </div>

    <section class="get-started container-eb text-center pb50">

        <div class="headerh2icon">
            <img src="/frontpage/img/pngs/icons/bg-rocket.png" alt="rocket-icon" loading="lazy">
            <h2>Kom i gang med at bruge Nyxium i dag</h2>
        </div>

        <p>Gratis oprettelse, gratis prøveperiode og ingen binding - Hvad skulle holde dig tilbage?</p>
        <a href="/Account/registerCompanyAccount" class="btn">Opret konto</a>
    </section>

    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
    <script src="~/frontpage/js/front.js"></script>

    <footer>
        <div class="columns">


            <div class="column">

                <a href="#">
                    nyxium er ejet og drevet af:<br />
                    wedigIT ApS<br />
                    Axeltorv 5 3 2<br />
                    4700 Næstved<br />
                    CVR: 40777326<br />
                    info@nyxium.dk<br />
                </a>

            </div>

        </div>
    </footer>
    </body>
    </html>