@{
    Layout = "_LayoutAnonymousMenu";
}


    <div class="top top600">
        <section class="cover_content cover_content-grid">
            <article class="left">
                <h1>Integration til Dinero</h1>
                <p class="subheading">
                    Hvis du har eller vælger Dinero som dit regnskabsprogram sikrer nyxium at der er sammenhæng i dine data og dermed i din forretning.
                </p>
                <a href="/Account/registerCompanyAccount" class="btn">Opret konto</a>

            </article>
            <article class="right">
                <img src="/frontpage/img/svgs/dinero-l-logo.svg" loading="lazy" class="eheight">
            </article>
        </section>
    </div>

    <div class="twoGrid">
        <section class="container-et-eb grid-2 pb50">
            <article class="twoGrid_grid img1">
                <img src="/frontpage/img/svgs/illustrations/progessive-app.svg" alt="" loading="lazy">
            </article>
            <article class="twoGrid_grid text1">
                <h2>Sammenhæng i din forretning</h2>
                <p>
                    Hvis du bruger Dineros regnskabsprogram, kan du med applikationerne i nyxium knytte funktioner til dit regnskabsprogram. Dette er med til at gøre dine arbejdsgange lettere og mere brugervenlige. Helt afhængigt af din virksomheds art er der forskellige applikationer du kan anvende i nyxium.
                </p>
            </article>
            <article class="twoGrid_grid text2">
                <h2>Eksempler på sammenhænge</h2>
                <p>
                    - Salgsstatistik genereres fra nyxiums lagerstyring som trækker varelinjer ud af fakturarerne i Dinero.<br />
                    - Kunder i nyxiums kundetyringsmodul overføres automatisk til Dinero<br />
                    - Produkter i nyxiums lagerstyring overføres automatisk til Dinero<br />
                </p>
            </article>
            <article class="twoGrid_grid img2">
                <img src="/frontpage/img/svgs/tasks.svg" alt="/frontpage/img/svgs/tasks.svg" loading="lazy">
            </article>
        </section>
    </div>


    <section class="get-started container-eb text-center pb50">



        <div class="headerh2icon">
            <img src="/frontpage/img/pngs/icons/bg-rocket.png" alt="rocket-icon" loading="lazy">
            <h2>Kom i gang med at bruge Nyxium i dag</h2>
        </div>

        <p>Gratis oprettelse, gratis prøveperiode og ingen binding - Hvad skulle holde dig tilbage?</p>
        <a href="/Account/registerCompanyAccount" class="btn">Opret konto</a>
    </section>
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>


   