@{
    Layout = null;
}


<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Support - Få hjælp til vores applikation</title>
    <meta name="Description" content="Har du behov for hjælp? Læs vores support, og få svar på de mest populære spørgsmål">
    <script src="https://kit.fontawesome.com/e061cad298.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/frontpage/styles/scss/styles.css">
    <link rel="shortcut icon" type="image/png" href="/frontpage/img/favicon.png" />
    <style>
        .top {
            background-image: url(/frontpage/img/svgs/covers/support-cover.svg);
            background-size: cover;
            background-position: bottom;
        }
    </style>
</head>

<header>
    <div class="header-wrapper">
        <div class="logo"><a href="/"><img src="/frontpage/img/nyxium-logo.png"></a></div>
        <div class="burger">
            <span class="bars"></span>
        </div>
        <nav class="nav">
            <a href="/frontpage/prices">Priser</a>
            <div class="submenu">
                <p class="dropdowntrigger">Integrationer <i class="fas fa-chevron-down"></i></p>
                <div class="submenubullets">
                    <a href="/frontpage/integrationdinero">Dinero</a>
                </div>
            </div>
            <a href="/frontpage/About">Om</a>
            <a href="/frontpage/support">Support</a>
            <a href="/Account/login">Login</a>
            <a href="/Account/registerCompanyAccount" class="btn">Opret konto</a>
        </nav>
    </div>
</header>

<body>
    <div class="top top600">
        <section class="cover_content cover_content-nogrid">
            <h1>Support</h1>
            <p class="subheading">
                Vores supportcenter vil løbende blive opdateret. Finder du ikke hvad du søger -  så log på og skriv til os
            </p>
        </section>
    </div>


    <div class="container-et-eb support pb50 text-center">



        <div class="headerh2icon">
            <img src="/frontpage/img/pngs/icons/safetyring.png" alt="" loading="lazy">
            <h2>Hvad søger du hjælp til?</h2>
        </div>

        <section class="grid-3">
            <article class="support_grid">
                <div class="support_grid-img">
                    <img src="/frontpage/img/pngs/icons/rocket.png" loading="lazy">
                </div>
                <div class="support_grid-text">
                    <h3>Kom godt igang</h3>
                    <p>Er du ny i nyxium? Så kig med her.</p>
                    <a href="#" class="infolink">Læs mere <i class="fas fa-arrow-right"></i></a>
                </div>
            </article>
            <article class="support_grid">
                <div class="support_grid-img">
                    <img src="/frontpage/img/pngs/icons/integration.png" loading="lazy">
                </div>
                <div class="support_grid-text">
                    <h3>Integration til Dinero</h3>
                    <p>Få hjælp til at integrere til Dinero.</p>
                    <a href="#" class="infolink">Læs mere <i class="fas fa-arrow-right"></i></a>
                </div>
            </article>
            <article class="support_grid">
                <div class="support_grid-img">
                    <img src="/frontpage/img/pngs/icons/account.png" loading="lazy">
                </div>
                <div class="support_grid-text">
                    <h3>Din konto</h3>
                    <p>Har du spørgsmål til din konto. Så ring til os.</p>
                    <a href="#" class="infolink">Læs mere <i class="fas fa-arrow-right"></i></a>
                </div>
            </article>
            <article class="support_grid">
            </article>
            <article class="support_grid">
                <div class="support_grid-img">
                    <img src="/frontpage/img/pngs/icons/chart.png" loading="lazy">
                </div>
                <div class="support_grid-text">
                    <h3>Betalinger</h3>
                    <p>Har du spørgsmål til en betaling. Så klarer vi den over telefonen.</p>
                    <a href="#" target="_blank" class="infolink">Læs mere <i class="fas fa-arrow-right"></i></a>
                </div>
            </article>
            <article class="support_grid">
            </article>
        </section>
    </div>



    <script src="~/frontpage/js/front.js"></script>

    <footer>
        <div class="columns">


            <div class="column">

                <a href="#">
                    nyxium er ejet og drevet af:<br />
                    wedigIT ApS<br />
                    Axeltorv 5 3 2<br />
                    4700 Næstved<br />
                    CVR: 40777326<br />
                    info@nyxium.dk<br />
                </a>

            </div>

        </div>
    </footer>


</body>
</html>