
@model List<JobServiceType>

<div class="formcontainer">
    @if (Model != null)
    {
        @foreach (var jobServiceType in Model)
        {
            <div class="rowcontainer">
                <div class="row">
                    <div class="col-2">@jobServiceType.Name</div>
                    <div class="col-3">@jobServiceType.Desciption</div>
                    <div class="col-1">
                        <div class="dropdown">
                            <div class="dropbtn"><i class="fa fa-bars icon-menu-background-color"></i></div>
                            <div class="dropdown-content">
                                <a asp-controller="booking" asp-action="EditJobServiceType" asp-route-id="@jobServiceType.Id" class="btn btn-outline-secondary btn-sm">Rediger</a>
                                <a asp-controller="booking" asp-action="DeleteJobServiceType" asp-route-id="@jobServiceType.Id" class="btn btn-outline-secondary btn-sm">Slet</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }

    <div class="rowcontainer">
        <div class="row">
            <div class="col-2">
                <a asp-controller="booking" asp-action="CreateJobServiceType" class="btn btn-outline-secondary btn-sm">Opret</a>
            </div>
        </div>
    </div>
</div>



