@model ErrorViewModel
<div class="formcontainer">

    <h2 class="text-danger">Ups! nyxium er løbet ind i en fejl.</h2>
    <br />
    <br />
    <br />
    <div class="form-group row">
        <div class="form-group col-md-8">
            Der er sendt en email til nyxium-support vedrørende problemet.
            <br />
            <br />
            Er du gået i stå så kontakt nyxium-support på:
            <br />
            <br />
            <br />
            Email <a href="mailto:support@nyxium.dk?subject=Supportkode: @Model.RequestId">Send</a>
            <br />
            Telefon : 7190 7153
            <br />
            <br />
            <br />
            @if (Model.ShowRequestId)

            {
                <p>
                    Ved telefonisk kontakt skal du opgive support-koden vist nedenfor:
                </p>
                <p class="text-danger">
                    @Model.RequestId
                </p>
            }
        </div>
    </div>
</div>
